<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/12c4a21f-4ca9-4ec8-ae50-62ddad821686/resourcegroups/EAD2-CA2/providers/Microsoft.Web/sites/EAD2CA2-Project-Deploy</ResourceId>
    <ResourceGroup>EAD2-CA2</ResourceGroup>
    <ApiResourceId>/subscriptions/12c4a21f-4ca9-4ec8-ae50-62ddad821686/resourceGroups/EAD2-CA2/providers/Microsoft.ApiManagement/service/EAD2-CA2-API-Management/apis/musiclibrary</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ead2ca2-project-deploy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a973caa7-a8af-4d79-8e23-c7630c3c3907</ProjectGuid>
    <MSDeployServiceURL>ead2ca2-project-deploy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EAD2CA2-Project-Deploy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$EAD2CA2-Project-Deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>